.button {
  display: flex;
  justify-content: center;
  height: 58px;
  min-height: 58px;
  color: white;
  background: $gr;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  padding: 0 15px;
  padding-top: 14.5px;
  padding-bottom: 17.5px;
  border: none;

  @media (min-width: $tablet-min) {
    padding-top: 15.5px;
    padding-bottom: 16.5px;
  }

  @media (min-width: $desktop-min) {
    padding-top: 14.5px;
    padding-bottom: 17.5px;
  }

  &:hover,
  &:focus {
    background: #669EC0;
    transition: all 1s;
  }

  &:active {
    background: #5496BD;
  }  
}