.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright__text {
  font-size: 14px;
  line-height: 26px;
  padding-left: 13px;
  text-transform: uppercase;
  color: black;

  @media (min-width: $tablet-min) {
    padding:0;
    padding-right: 13px;
  }
}
.copyright__img {
  margin-right: 10px;

  @media (min-width: $tablet-min) {
    margin: 0;
  }
}