.features {
  display: grid;
  grid-auto-rows: minmax(256px, auto);
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 5%;
}
.features__row {
  display: grid;

  @media(max-width: $mobile-max){
    &:nth-child(2) {
      row-gap: 24px;
      margin: 35px 0;
    }
  }

  &--other{
    background-color: $grey;
  }

  @media(min-width: $tablet-min) {
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr;

    &:first-child {
      grid-template-areas: 
      "reason photo photo";
    }

    &:nth-child(3) {
      grid-template-areas: 
      "photo photo reason";   
    }

    &:last-child {
    }
  }
}
.features__item {
  @media (min-width: $tablet-min){
    &--main {
      grid-area: reason;
    }
  }
}

.features__img {
  position: relative;

  @media (max-width: $mobile-max) {
    height: 260px;
  }

  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (min-width: $tablet-min) {
    grid-area: photo;
  }
}
