.header {

}
.header__top {

}
.header__nav {

}
.header__footer {
  display: flex;
  justify-content: center;
  height: 389px;
  width: 100%;
  background-image: url("../img/bg-intro-triangle-mobile.svg"),
  url("../img/bg-back-mobile@1x.jpg");
  background-size: 100%, cover;
  background-repeat: no-repeat;
  background-position: 0 100.2%, center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-intro-triangle-mobile.svg"),
    url("../img/bg-back-mobile@2x.jpg");
  }

  @media (min-width: $tablet-min) {
    height: 518px;
    background-image: url("../img/bg-intro-triangle-tablet.svg"),
    url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-intro-triangle-tablet.svg"),
      url("../img/bg-back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-min) {
    height: 518px;
    background-image: url("../img/bg-intro-triangle-desktop.svg"),
    url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-intro-triangle-desktop.svg"),
      url("../img/bg-back-desktop@2x.jpg");
    }
  }
}
.header__footer-box {
  margin-top: 90px;
  width: 282px;
  height: 214px;

  @media (min-width: $tablet-min) {
    margin-top: 77px;
    width: 461px;
    height: 350px;
  }

  @media (min-width: $desktop-min) {
    margin-top: 78px;
    width: 460px;
    height: 350px;
  }
}
.header__footer-img {}