.main-nav__list {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-min) {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 156px 1fr;   
  }

  @media (min-width: $desktop-min) {
    grid-template-columns: 1fr 244px 1fr;
  }
}

.main-nav__list-box {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $tablet-min) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.main-nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55px;
  background-color: $blue;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  border-top: 1px solid rgba(255,255,255, 0.2);

  &--first{
    border-top: none;
  }

  &--border-bottom{
    border-bottom: none;
  }

  @media (min-width: $tablet-min) {
    flex-basis: 153px;
    flex-grow: 1;
    padding: 0 6px;
    justify-content: center;
    background-color: inherit;
    border: none;
  }

  @media (min-width: $desktop-min){
    flex-basis: 239px;
    padding: 0 30px;
  }

  & a:hover,
  & a:focus {
    color: #81B3D2;
    outline: none;
    transition: all 0.4s;
  }

  & a:active {
    opacity: 0.3;
  }

}

.main-nav__container{
  display: flex;
  justify-content: center;
  width: 87.5%;
  position: relative;

  @media (min-width: $tablet-min) {
    width: 100%;
  }
}

.main-nav__item-link {
  display: flex;
  justify-content: center;
  color: white;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  @media (min-width: $tablet-min) {
    font-size: 14px;
    line-height: 26px;
    min-width: 0;
    color: black;
  }

  & span {
    text-align: center;
  }
}

.main-nav__icon{
  position: absolute;
  right: 0;
  bottom: 9px;

  &--menu{
    bottom: 18px;
  }

  @media (min-width: $tablet-min) {
    display: none;
  }
}
.main-nav__logo {
  display: flex;
  justify-content: center;
  height: 56px;
  background-color: white;
  order: 3;

  @media (min-width: $tablet-min) {
    order: 0;
  }
}

