.social {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-min) {
    width: 151px;
  }
}
.social__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 46px;
  background-color: $blue;
  color: white;
  cursor: pointer;

  & svg {
    fill: currentColor;
  }

  &:hover,
  &:focus {
    background-color: #669EC0;
  }

  &:active {
    background-color: #5496BD;

    & svg {
      opacity: 0.3;
    }
  }
}
.social__img {}