$gr: linear-gradient(180deg, #9ECCE8 0%, #76B3DA 100%), #81B3D2;;
$blue: #81B3D2;
$grey: #EEEEEE;
$grey-1: #F2F2F2;
$grey-2: #EAEAEA;
$grey-3: #5C6870;
$light-black: #333333;

$tablet-min: 768px;
$desktop-min: 1200px;
$mobile-max: 767px;
